<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documento</title>
    <style>
        #foto {
            margin-left: 14cm;
        }
    </style>
</head>
<body>
    <img src="/images/logo.PNG" id="foto">
    <div class="jumbotron text-center">
  <h1 class="display-3">Muchas gracias por su compra!</h1>
  <p class="lead">La factura será enviada a su <strong>email</strong></p>
  <hr>
  <p>
    Tienes problemas? <a href="mailto:pericodelospalotes@correo.com">Contáctenos</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">Continuar a pagina principal</a>
  </p>
</div>
</body>
</html>